In [2]:
import os
import datetime 
import sqlite3

import pandas as pd
import numpy as np
import pandas_gbq
import janitor

from google.cloud import bigquery
from google.oauth2 import service_account

In [5]:
service_path = "/Users/krusty/Desktop/MSBA /GBQ Key/"
service_file = 'my-project-366122-3a6c8a47fb52.json' # change this to your authentication information  
gbq_proj_id = 'my-project-366122' # change this to your project. 

# And this should stay the same. 
private_key =service_path + service_file

In [2]:
db = sqlite3.connect("Wedge3.db")

In [3]:
cur = db.cursor()

In [ ]:
#create three tables: sales by date hour, sales by owner by year/month, sales by product description by year/month

In [8]:
cur.execute('''DROP TABLE IF EXISTS sales_by_date_hour''')
cur.execute ('''CREATE TABLE sales_by_date_hour (
    date DATE, 
    hour INTEGER, 
    total_spend FLOAT, 
    trans INTEGER 
    items INTEGER)
''')

In [6]:
cur.execute('''DROP TABLE IF EXISTS sales_by_owner''')
cur.execute ('''CREATE TABLE sales_by_owner (
    card_no INTEGER, 
    year INTEGER, 
    month INTEGER, 
    sales float
    trans INTEGER 
    items INTEGER)
''')

In [7]:
cur.execute('''DROP TABLE IF EXISTS sales_by_product''')
cur.execute ('''CREATE TABLE sales_by_product (
    upc INTEGER,
    description TEXT, 
    dept_no INTEGER,
    dept_name INTEGER, 
    year INTEGER, 
    month INTEGER, 
    trans INTEGER 
    items INTEGER)
''')

In [9]:
db.commit()

In [10]:
with open(.txt,'r') as ifile : 
    for idx, line in enumerate(ifile) :
        line = line.strip().split("\t")
        cur.execute('''
            INSERT INTO sales_by_date_hour (date, hour, total_spend, trans, items)
            VALUES (?,?,?,?,?,?)''', line)

        
        if idx > 100 :
            break

db.commit()

NameError: name 'OwnerTransactions_30' is not defined

In [ ]:
with open(.txt,'r') as ifile : 
    for idx, line in enumerate(ifile) :
        line = line.strip().split("\t")
        cur.execute('''
            INSERT INTO sales_by_owner (card_no, year, month, trans, items)
            VALUES (?,?,?,?,?)''', line)

        
        if idx > 100 :
            break

db.commit()

In [ ]:
with open(.txt,'r') as ifile : 
    for idx, line in enumerate(ifile) :
        line = line.strip().split("\t")
        cur.execute('''
            INSERT INTO sales_by_product (description, dept_no, dept_name, year, month, trans, items)
            VALUES (?,?,?,?,?,?,?)''', line)

        
        if idx > 100 :
            break

db.commit()