In [ ]:
# 1 Connects to your GBQ instance.
# 2 Builds a list of owners. 
# 3 Takes a sample of the owners. 
# 4 Extracts all records associated with those owners and writes them to a local text file.

In [1]:
import os
import re
import datetime 
import sqlite3

import pandas as pd
import numpy as np
import pandas_gbq
import janitor

# Do our imports for the code
from google.cloud import bigquery
from google.oauth2 import service_account

In [2]:
service_path = "/Users/krusty/Desktop/MSBA /GBQ Key/"
service_file = 'my-project-366122-3a6c8a47fb52.json' # change this to your authentication information  
gbq_proj_id = 'my-project-366122' # change this to your project. 

# And this should stay the same. 
private_key =service_path + service_file

In [3]:
credentials = service_account.Credentials.from_service_account_file(service_path + service_file)

In [4]:
client = bigquery.Client(credentials = credentials, project=gbq_proj_id)

In [ ]:
#build list of owners, need to connect file! 
owner_list = """
    


"""

In [8]:
#date or hour also timestamp? 
cur.execute('''DROP TABLE IF EXISTS sales_by_date_hour''')
cur.execute ('''CREATE TABLE sales_by_date_hour (
    date DATE, 
    hour INTEGER, 
    total_spend REAL, 
    trans INTEGER 
    items INTEGER)
''')

In [6]:
cur.execute('''DROP TABLE IF EXISTS sales_by_owner''')
cur.execute ('''CREATE TABLE sales_by_owner (
    card_no INTEGER, 
    year INTEGER, 
    month INTEGER, 
    trans INTEGER 
    items INTEGER)
''')

In [7]:
cur.execute('''DROP TABLE IF EXISTS sales_by_product''')
cur.execute ('''CREATE TABLE sales_by_product (
    upc INTEGER,
    description TEXT, 
    dept_no INTEGER,
    dept_name INTEGER, 
    year INTEGER, 
    month INTEGER, 
    trans INTEGER 
    items INTEGER)
''')

In [9]:
db.commit()

In [10]:
with open(OwnerTransactions_30.txt,'r') as ifile : #ownertrans is placeholder 
    for idx, line in enumerate(ifile) :
        line = line.strip().split("\t")
        cur.execute('''
            INSERT INTO sales_by_date_hour (date, hour, total_spend, trans, items)
            VALUES (?,?,?,?,?,?)''', line)

        
        if idx > 100 :
            break

db.commit()

NameError: name 'OwnerTransactions_30' is not defined

In [ ]:
with open(OwnerTransactions_30.txt,'r') as ifile : #ownertrans is placeholder 
    for idx, line in enumerate(ifile) :
        line = line.strip().split("\t")
        cur.execute('''
            INSERT INTO sales_by_owner (card_no, year, month, trans, items)
            VALUES (?,?,?,?,?)''', line)

        
        if idx > 100 :
            break

db.commit()

In [ ]:
with open(OwnerTransactions_30.txt,'r') as ifile : #ownertrans is placeholder 
    for idx, line in enumerate(ifile) :
        line = line.strip().split("\t")
        cur.execute('''
            INSERT INTO sales_by_product (description, dept_no, dept_name, year, month, trans, items)
            VALUES (?,?,?,?,?,?,?)''', line)

        
        if idx > 100 :
            break

db.commit()